@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

:root {
    --verde-principal: #308840;
    --texto-black: #2b2b2b;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
}

h2 {
    color: var(--texto-black);
}