@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

:root {
    --verde-principal: #308840;
    --texto-black: #2b2b2b;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
}

h2 {
    color: var(--texto-black);
}

#modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #EAEDF2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.247);
}

#modal-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#modal-btns button{
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    background-color: var(--verde-principal);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#modal-btns #red {
    background-color: #BE463B;
}

#modal #area-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modal #area-input input, #modal #area-input select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
}

#modal #area-input input:focus{
    outline: none;
    border: 3px solid #30884052;
}